@font-face {
    font-family: 'GuidoHU';
    src: url(../guidohu_.ttf) format("truetype");
}

@font-face {
    font-family: "Book Antiqua";
    src: url(../BKANT.TTF);
}

@font-face {
    font-family: "Book Antiqua";
    src: url(../ANTQUAB.TTF);
    font-weight: bold;
}

@font-face {
    font-family: "Book Antiqua";
    src: url(../ANTQUAI.TTF);
    font-style: italic;
}

:root {
    --base-fontsize: 14px;
}

body {
    font-family: "Book Antiqua";
    width: 800px;
    margin: auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    color: red;
    font-weight: normal;
    font-size: calc(var(--base-fontsize) * (10/12));
    margin-top: 12px;
    margin-bottom: 3px;
}

h4 {
    text-align: center;
}

strong {
    color: red;
}

p {
    font-size: var(--base-fontsize);
    margin-top: 0px;
    margin-bottom: 0px;
}

.music {
    font-family: "GuidoHU";
    font-size: calc(var(--base-fontsize) * 2);
    white-space: nowrap;
}

.musictext {
    white-space: pre;
    margin-bottom: 0;
}

pre {
    margin-top: 0px;
    font-family: inherit;
    font-size: var(--base-fontsize);
}

.rubrum {
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

.asterisk {
    font-family: 'Times New Roman', Times, serif;
}

.intend {
    margin-left: 0.5rem;
}

.hymn {
    columns: 2;
    margin-top: 1rem;
}

.verse {
    font-size: var(--base-fontsize);
    width: 100%;
    margin-bottom: 0.5rem;
}


@media screen and (max-width: 810px) {
    body {
        width: 90%;
    }
}